.registration-form {
    height: 85vh;
    text-align: center;
    background: linear-gradient(to right, #8fe1f5, #f6b0f6);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    flex-wrap: wrap;
}

h2 {
    color: rgb(77, 1, 77);
    text-align: center;
    flex: 1;
}

form {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 300px;
    padding: 20px;
    align-items: center;
}

input {
    padding: 15px;
    margin: 10px 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-color: rgb(204, 165, 243);
    flex: 1;
}


.ShowPassword {
    width: 20px;
    height: 20px;
    margin-left: -24px;
    margin-bottom: -5px;
}



.Register-button {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

button[type='submit'],
button[type='reset'] {
    width: 40%;
    padding: 10px;
    border: none;
    background-color: rgb(168, 120, 216);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

button:hover {
    opacity: 0.8;
}

#pass {
    margin-left: 10px;
}

#pass {
    margin-left: 25px;
}

.eye {
    border: none;
    background-color: white;
}

.error {
    color: red;
    font-size: 10px;
}
